<h2><%=@event.title%></h2>
<h4>Details:</h4>
Location: <%= @event.location %><br>
Time: <%= @event.time %><br>
Join before: <%= @event.deadline %><br>
Minimum Number of People Required: <%= @event.minimum.to_s %><br>
Maximum Number of People: <%= @event.maximum %><br>

<form action="/events/<%= @event.id %>" method="post">
  <input type="submit" value="Join Event">
</form>
