<div id="left">
<h2><%=@event.title%></h2>
<h4>Details:</h4>
Location: <%= @event.location %><br>
Time: <%= @event.time %><br>
Join before: <%= @event.deadline %><br>
Minimum Number of People Required: <%= @event.minimum.to_s %><br>
Maximum Number of People: <%= @event.maximum %><br>
Current Number of People: <%=@event.users.count%>


<%unless current_user.owner?(@event) || current_user.on_guestlist?(@event)%>
<form action="/events/<%= @event.id %>" method="post">
  <input type="submit" value="Join Event">
</form>
<%end%>
</div>

<div id="right">
  <h3> Comments </h3>
  <% @event.comments.each do |comment| %>
    <div class="comment">
      <p><%=comment.body%></p>
      -<%=comment.user.username%> <%= comment.created_at %>
    </div>
  <%end%>

  <form action="/comments" method="post">
    <textarea rows="7" cols="40" name="comment[body]"></textarea>
  <input type="hidden" name="event_id" value="<%=@event.id%>">
  <input type="submit" value="Comment">
  </form>
</div>
